@import url(https://fonts.googleapis.com/css?family=Roboto);
body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    position: relative;
    background: #555 url("../images/menu-bg.jpg") repeat;
    transform: translateX(0px);
    transition: transform 800ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

html {
    overflow-x: hidden;
}

section {
    color: #000000;
}


/*----------------- button ---------*/

.button {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 10000;
    background: transparent;
    width: 50px;
    height: 40px;
    overflow: hidden;
    cursor: pointer;
}

.button:hover {
    cursor: pointer;
}

.button>.line {
    display: block;
    width: 80%;
    height: 2px;
    background: #fff;
    margin: 8px auto;
}

.button .line:nth-child(1),
.button .line:nth-child(3) {
    -webkit-transform: rotate(0deg) translateY(0);
    -moz-transform: rotate(0deg) translateY(0);
    ttransform: rotate(0deg) translateY(0);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button .line:nth-child(2) {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}


/*-------------- the close button ---------*/

.close .line:nth-child(1) {
    -webkit-transform: rotate(45deg) translateY(15px);
    -moz-transform: rotate(45deg) translateY(15px);
    transform: rotate(45deg) translateY(15px);
}

.close .line:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-15px);
    -moz-transform: rotate(-45deg) translateY(-15px);
    transform: rotate(-45deg) translateY(-15px);
}

.close .line:nth-child(2) {
    -webkit-transform: translateX(-100px);
    -moz-transform: translateX(-100px);
    transform: translateX(-100px);
}


/*---------------- menu -----------*/

.menu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 800px;
    overflow: hidden;
    padding-left: 0;
    -webkit-transform: translateX(-150%);
    transform: translateX(-150%);
    transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition-delay: .1s;
}

.menu nav ul {
    margin: 0;
    padding: 20px 0;
    list-style: none;
}

.menu nav ul li {
    margin: 0;
    padding: 0;
}

.menu nav ul li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 10px 20px;
    padding-left: 120px;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.menu nav ul li a:hover {
    background: rgba(1, 1, 1, .3);
    -webkit-transform: translateX(20px);
    transform: translateX(20px);
}


/*-- class of show and hide the menu --*/

body.nav_is_visible {
    transform: translateX(300px);
}

body.nav_is_visible .menu {
    transform: translateX(-100%);
}


/*----------------- content ---------------*/

.content {
    width: 100%;
    position: absolute;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 18px;
    transform: translateX(100%);
    transition: color 1s ease 1s, background 0.5s ease 1s, transform 1000ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.3s;
}

.content h1 {
    font-size: 60px;
    text-align: center;
}

.content .wrapper {
    -webkit-transform: translateX(300%);
    transform: translateX(300%);
    -webkit-transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.home_is_visible .home .wrapper,
.tables_is_visible .tables .wrapper,
.settings_is_visible .settings .wrapper,
.adminPanel_is_visible .adminPanel .wrapper {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}


/*--------------- tabs -----------------*/

.tabs,
#id-adminPanel div.cnt-body {
    min-width: 320px;
    padding: 15px 5px;
    margin: 0 auto;
}

.tabs>section,
#id-adminPanel div.cnt-body>section {
    display: none;
    padding: 15px;
    background: #fff;
    border: 1px solid #ddd;
}

.tabs>section>p {
    margin: 0 0 5px;
    line-height: 1.5;
    color: #383838;
    /* анимация */
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}


/* Прячем чекбоксы */

.tabs>input {
    display: none;
    position: absolute;
}


/* Стили переключателей вкладок (табов) */

.tabs>label {
    display: inline-block;
    margin: 0 0 -2px;
    /*padding: 15px 31.35px;*/
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #aaa;
    border: 0px solid #ddd;
    border-width: 1px 1px 1px 1px;
    background: #f1f1f1;
    border-radius: 3px 3px 0 0;
}


/*вкладки при наведении */

.tabs>label:hover {
    color: #888;
    cursor: pointer;
}


/* Стили для активной вкладки */

.tabs>input:checked+label {
    color: #555;
    border-top: 3px solid #009933;
    border-bottom: 3px solid #fff;
    background: #fff;
}


/* Активация секций с помощью псевдокласса :checked */

#tab1:checked~#content-tab1,
#tab2:checked~#content-tab2,
#tab3:checked~#content-tab3,
#tab4:checked~#content-tab4,
#tab5:checked~#content-tab5,
#tab6:checked~#content-tab6,
#tab7:checked~#content-tab7,
#tab8:checked~#content-tab8,
#tab9:checked~#content-tab9,
#tab10:checked~#content-tab10,
#tab11:checked~#content-tab11,
#tab12:checked~#content-tab12 {
    display: block;
}


/*-------------- content-tables -------------*/

table {
    border: 1px solid #000000;
}

.cnt-header {
    color: #000000;
    text-align: center;
}

.cnt-header h1 {
    font-size: 30px;
}

.cnt-table table {
    margin: auto;
    color: #000000;
    text-align: center;
}

.cnt-table table td {
    padding: 6px 8px;
    height: 20px;
    border: 1px solid #000000;
}

.cnt-table table td input {
    width: 80px;
    height: 35px;
    margin: -13px;
    font-size: 24px;
}


/*--------------- effect ---------------*/

.home_is_visible .home,
.tables_is_visible .tables,
.settings_is_visible .settings,
.adminPanel_is_visible .adminPanel {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    z-index: 5000;
}

.tables_is_visible .tables {
    color: white;
    background: #ff9800;
}

.settings_is_visible .settings {
    color: white;
    background: #9c27b0;
}

.adminPanel_is_visible .adminPanel {
    color: white;
    background: #ff5722;
}

.home_is_visible .home {
    color: white;
    background: #0568b4;
}


/*---------------------------- authorization -------------------------------*/

#line {
    margin: 9% auto;
    position: relative;
    height: 3px;
    width: 400px;
    background-color: #4D565B;
}

#line.right::after {
    content: '';
    position: absolute;
    left: 3px;
    height: 3px;
    background-color: #589CF7;
    animation-name: left-to-right;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

#line.left::after {
    content: '';
    position: absolute;
    right: 3px;
    height: 3px;
    background-color: #589CF7;
    animation-name: right-to-left;
    animation-duration: .4s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

@keyframes left-to-right {
    0% {
        left: 0;
        width: 0%;
    }
    50% {
        width: 35%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes right-to-left {
    0% {
        right: 0;
        width: 0%;
    }
    50% {
        width: 35%;
    }
    100% {
        right: 100%;
        width: 0%;
    }
}

#line .circle-right,
#line .circle-left {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 3px solid #4D565B;
    cursor: pointer;
    background-color: #2A3436;
    transition: all .3s ease;
    z-index: 5;
}

#line .circle-right {
    right: calc(-15px - 3px);
}

#line .circle-right ::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 45px;
    font-size: 1em;
    color: #2A3436;
}

#line .circle-right.active {
    width: 120px;
    height: 45px;
    border-radius: 10px;
    border-color: #589CF7;
    transition: all .3s ease;
}

#line .circle-right.show::after {
    content: 'Регистрация';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 45px;
    font-size: 1em;
    color: #fff;
}

#line .circle-left {
    left: calc(-15px - 3px);
}

#line .circle-left ::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 45px;
    font-size: 1em;
    color: #2A3436;
}

#line .circle-left.active {
    width: 100px;
    height: 45px;
    border-radius: 10px;
    border-color: #589CF7;
    transition: all .3s ease;
}

#line .circle-left.show::after {
    content: 'Вход';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    line-height: 45px;
    font-size: 1em;
    color: #fff;
}

#line-section>section {
    height: 200px;
    width: 33%;
    margin: 0px auto;
}

#line-section #cnt-line2 {
    width: 50%;
}

#cnt-line2 {
    width: 50%;
    display: none;
}

#cnt-line2 h1,
#cnt-line1 h1 {
    margin-top: -63px;
    color: #a8a7a8;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

body.body-authorization,
.login-submit,
.login-submit:before,
.login-submit:after,
.registr-submit,
.registr-submit:before,
.registr-submit:after {
    background: #373737 url("../img/bg.png") 0 0 repeat;
}

.login a {
    color: #00a1d2;
    text-decoration: none;
}

.login a:hover {
    text-decoration: underline;
}

.login {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #404040;
    position: relative;
    margin: 40px auto;
    width: 400px;
    padding-right: 32px;
    font-weight: 300;
    color: #a8a7a8;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.registr {
    font: 14px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #404040;
    position: relative;
    margin: 40px auto;
    width: 500px;
    padding-right: 32px;
    font-weight: 300;
    color: #a8a7a8;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
}

.login p,
.registr p {
    margin: 0 0 10px;
}

.login input,
.login button,
.login label,
.registr input,
.registr button,
.registr label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.login input[type=text],
.login input[type=password],
.registr input[type=text] {
    padding: 0 10px;
    width: 300px;
    height: 40px;
    color: #bbb;
    text-shadow: 1px 1px 1px black;
    background: rgba(0, 0, 0, 0.16);
    border: 0;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}

.login input[type=text]:focus,
.login input[type=password]:focus,
.registr input[type=text]:focus {
    color: white;
    background: rgba(0, 0, 0, 0.1);
    outline: 0;
}

.login label {
    float: left;
    width: 100px;
    line-height: 40px;
    padding-right: 10px;
    font-weight: 100;
    text-align: right;
    letter-spacing: 1px;
}

.registr label {
    float: left;
    width: 200px;
    line-height: 40px;
    padding-right: 10px;
    font-weight: 100;
    text-align: right;
    letter-spacing: 1px;
}

.forgot-password {
    padding-left: 100px;
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 1px;
}

.login-submit,
.registr-submit {
    position: absolute;
    top: 12px;
    right: 0;
    width: 48px;
    height: 48px;
    padding: 8px;
    border-radius: 32px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.35);
}

.login-submit:before,
.login-submit:after,
.registr-submit:before,
.registr-submit:after {
    content: '';
    z-index: 1;
    position: absolute;
}

.login-submit:before,
.registr-submit:before {
    top: 28px;
    left: -4px;
    width: 4px;
    height: 10px;
    -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
    box-shadow: inset 0 1px rgba(255, 255, 255, 0.06);
}

.login-submit:after,
.registr-submit:after {
    top: -4px;
    bottom: -4px;
    right: -4px;
    width: 36px;
}

.login-button,
.registr-button {
    position: relative;
    z-index: 2;
    width: 48px;
    height: 48px;
    padding: 0 0 48px;
    /* Fix wrong positioning in Firefox 9 & older (bug 450418) */
    text-indent: 120%;
    white-space: nowrap;
    overflow: hidden;
    background: none;
    border: 0;
    outline: 0;
    border-radius: 24px;
    cursor: pointer;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.1);
    /* Must use another pseudo element for the gradient background because Webkit */
    /* clips the background incorrectly inside elements with a border-radius.     */
}

.login-button:before,
.registr-button:before {
    content: '';
    position: absolute;
    top: 5px;
    bottom: 5px;
    left: 5px;
    right: 5px;
    background: #00a2d3;
    border-radius: 24px;
    background-image: -webkit-linear-gradient(top, #00a2d3, #0d7796);
    background-image: -moz-linear-gradient(top, #00a2d3, #0d7796);
    background-image: -o-linear-gradient(top, #00a2d3, #0d7796);
    background-image: linear-gradient(to bottom, #00a2d3, #0d7796);
    -webkit-box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
    box-shadow: inset 0 0 0 1px #00a2d3, 0 0 0 5px rgba(0, 0, 0, 0.16);
}

.login-button:active:before,
.registr-button:active:before {
    background: #0591ba;
    background-image: -webkit-linear-gradient(top, #0591ba, #00a2d3);
    background-image: -moz-linear-gradient(top, #0591ba, #00a2d3);
    background-image: -o-linear-gradient(top, #0591ba, #00a2d3);
    background-image: linear-gradient(to bottom, #0591ba, #00a2d3);
}

.login-button:after,
.registr-button:after {
    content: '';
    position: absolute;
    top: 15px;
    left: 12px;
    width: 25px;
    height: 19px;
    background: url("../images/arrow.png")0 0 no-repeat;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
    font-size: 20px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.8);
    margin: 10px auto;
    background-color: #2A3436;
    color: #ff3838;
    width: 30%;
    border-radius: 11px;
    border: 3px solid #589CF7;
}

.error p {
    margin-: 8px;
    text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.2), 0px -5px 35px rgba(255, 255, 255, 0.3);
}


/*----------------------------------------- adminPanel ---------------------------------------*/

#id-adminPanel {
    color: #000000;
}